/* 404 HERO */
.error-hero {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2rem;
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-404 {
  font-size: 8rem;
  color: white;
}
