/* 404 HERO */
.error-hero {
  min-height: 100vh;

  .error-content h1 {
    font-size: clamp(4rem, 10vw, 8rem);
    color: white;
  }
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/branding-images/rita-mcdonald-header.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
